@import url("https://fonts.googleapis.com/css?family=Lato:300italic");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Comfortaa", cursive, Arial, Helvetica, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

.containerStyle {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  /* border: 1px solid black; */
}

.diningTableStyle {
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 2.5rem;
  width: 60rem;
  flex-wrap: wrap;
  background: linear-gradient(135deg, #1036a999, #e9f93d7e);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  box-shadow: 0 4px 16px 0 #4551ffc5;
  /* border: 1px solid black; */

}

.cakeContainerStyle {
  flex: 1 1 auto;
  min-width: 250px;
  /* border: 1px solid black; */

}

.cardContainerStyle {
  flex: 1 1 auto;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform: rotate(-15deg);
  transform-origin: bottom center;
  /* border: 1px solid black; */

}

.carouselContainer {
  margin: 1rem auto;
  padding: 1rem;
}

/*circles animation*/

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  transform: translateZ(0);
  /* promote to its own layer */
}

.circles li {
  position: absolute;
  list-style: none;
  animation: animate 7s linear infinite;
  bottom: -150px;
  will-change: transform, opacity;
  pointer-events: none;
}



.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.btn {
  display: block;
  padding: 10px 40px;
  margin: 10px auto;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  color: #784ba0;
  background: rgba(255, 255, 255, 0.429);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:visited {
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  animation: gelatine 0.5s 1;
}

@keyframes gelatine {

  0%,
  100% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}


@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1750px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* Loader */
#wrapper {
  filter: contrast(40);
  background: white;
  position: fixed;
  width: 100px;
  height: 100px;
  z-index: 9;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;

  animation-duration: 8s;
  animation-fill-mode: both;
  animation-name: rotate-wrapper;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#corpus {
  background: #eeff00;
  filter: blur(10px);
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  border-radius: 0;
  border-radius: 50%;
}

#spinner {
  border-radius: 50%;
  width: 20px;
  left: 40px;
  bottom: 50px;
  height: 20px;
  position: absolute;
  filter: blur(5px);

  animation-duration: 6s;
  animation-fill-mode: both;
  animation-name: rotate-spinner;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#spinner:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 60px;
  background: white;
  filter: blur(5px);
}

#text {
  position: absolute;
  width: 100px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin: 60px 0 0 -50px;
  font-family: 'Comfortaa', cursive, sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: black;
  z-index: 10;
}

@keyframes rotate-wrapper {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-spinner {
  0% {
    transform: rotate(0deg) scale(2, 1.5) translate(0px, 25px);
  }

  25% {
    transform: rotate(270deg) scale(1.5) translate(0px, 20px);
  }

  50% {
    transform: rotate(540deg) scale(2) translate(5px, 15px);
  }

  75% {
    transform: rotate(810deg) scale(1, 3) translate(0px, 15px);
  }

  100% {
    transform: rotate(1080deg) scale(2, 1.5) translate(0px, 25px);
  }
}

/* Responsive styles */
@media (min-width: 768px) {
  .diningTableStyle {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem;
  }

  .cakeContainerStyle,
  .cardContainerStyle {
    width: auto;
    flex: 1;
  }
}


@media (max-width: 480px) {
  .containerStyle {
    padding: 10px;
  }

  .diningTableStyle {
    width: 25rem;
    flex-direction: row;
    padding: 20px 10px;
    gap: 30px;
  }

  .cakeContainerStyle {
    min-width: 250px;
    width: auto;
  }

  .cardContainerStyle {
    min-width: 250px;
    width: auto;
    justify-content: center;
    transform: rotate(0deg);

  }
}