#cake {
    display: block;
    position: relative;
    margin: -10em auto 0 auto;
}

/* ============================================== Candle
*/

.choco-lava {
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 14rem;
    left: 27%;
    margin-left: -2.4px;
    margin-top: -8.33333333px;
    width: 5px;
    height: 35px;
    transform: translateY(-300px);
    backface-visibility: hidden;
    animation: in 500ms 6s ease-out forwards;
}

.choco-lava:after,
.choco-lava:before {
    background: rgba(255, 0, 0, 0.4);
    content: "";
    position: absolute;
    width: 100%;
    height: 2.22222222px;
}

.choco-lava:after {
    top: 25%;
    left: 0;
}

.choco-lava:before {
    top: 65%;
    left: 0;
}

/* ============================================== Fire
*/

.layer-crest {
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -2.6px;
    width: 6.66666667px;
    height: 18px;
}

.layer-crest:nth-child(1) {
    animation: layer-crest 2s 6.5s infinite;
}

.layer-crest:nth-child(2) {
    animation: layer-crest 1.5s 6.5s infinite;
}

.layer-crest:nth-child(3) {
    animation: layer-crest 1s 6.5s infinite;
}

.layer-crest:nth-child(4) {
    animation: layer-crest 0.5s 6.5s infinite;
}

.layer-crest:nth-child(5) {
    animation: layer-crest 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/

@keyframes layer-crest {

    0%,
    100% {
        background: rgba(254, 248, 97, 0.5);
        box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
        transform: translateY(0) scale(1);
    }

    50% {
        background: rgba(255, 50, 0, 0.1);
        box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
        transform: translateY(-20px) scale(0);
    }
}

@keyframes in {
    to {
        transform: translateY(0);
    }
}

.dearOne {
    text-align: center;

    h1 {
        font-weight: 700 !important;
        background: linear-gradient(#0a0a09, #0000ff);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p{
        font-size: 1.25rem !important;
    }
}

@media (max-width: 480px) {
    .choco-lava {
        top: 12.75rem;
        left: 50%;
    }
}